{% extends 'base.html.twig' %}

{% block title  %}
	Tout nos biens
{% endblock %}

{% block body %}

	<div class="jumbotron text-center">
		<div class="container">
			<h1>Voir tout nos biens</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed veniam autem non quia animi quae enim reprehenderit illo! Quos quidem cupiditate ducimus neque molestiae dolorem repudiandae fugiat blanditiis voluptatum aperiam?</p>
		</div>
	</div>

{% endblock %}
